.card {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    min-height: calc(2 * 1.3rem + 20px);
    
    text-align: center;
    width: 100%; /* Автоматически адаптируется */
    aspect-ratio: 1; /* Делает ширину и высоту одинаковыми */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
    max-width: 80%; /* Картинка масштабируется в зависимости от карточки */
    max-height: 80%; /* Сохраняем пропорции */
    object-fit: contain;
}

.card-title h3{
    margin-top: 0px;
    font-size:  0.8rem;
  
    color: #000;
}
@media (min-width: 768px) {
        
   .card-title h3{
    font-size:  1.3rem;
   }
  }