.catalog{
    justify-items: center;
    padding-inline: 20px;
}
.title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #191717;
    text-align: center;
  
}.breadcrumbs {
    display: flex;
    align-items: center;
    overflow-x: auto; /* Горизонтальный скроллинг */
    white-space: nowrap; /* Запрет переноса текста */
    padding: 10px 0;
    gap: 10px; /* Отступы между элементами */
    font-size: 12px;
    color: #9a9a9a;
    font-family: Arial, sans-serif;
    
  }
  
  .breadcrumbs a {
    text-decoration: none;
    color: #9a9a9a;
    transition: color 0.3s;

  }
  
  .breadcrumbs a:hover {
    color: #0056b3;
  }
  
  .breadcrumbs::-webkit-scrollbar {
    height: 6px;
  }
  
  .breadcrumbs::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
  }
  
  .breadcrumbs::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }
  
  .breadcrumbs::-webkit-scrollbar-track {
    background: #f0f0f0;
  }
  
  
.card-container {
    max-width: 1000px;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 3fr));
    gap: 20px 45px; /* 16px для строк, 32px для колонок */
    margin-top: 24px;
    justify-content: center;
}

@media (min-width: 768px) {
    .card-container {
    
        max-width: 1000px;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 3fr));
        justify-items: center;
    }
    .title{
        padding-left: 200px;
        text-align:start;
    }
    .breadcrumbs{
        padding-left: 200px;
    }
}
